@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.cardWrapper {
    composes: cardWrapper from '../../../App.module.css';
}

.bottomParagraph {
    composes: bottomParagraph from '../StepPhoneEmail/StepPhoneEmail.module.css';
}

.actionButtonWrap {
    composes: actionButtonWrap from '../StepPhoneEmail/StepPhoneEmail.module.css';
}

.partitioned {
    background: rgba(51, 50, 234, 0.4);
    border: none;
    padding: 10px 20px;
    width: 100px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    font-family: 'Nunito', sans-serif;
    align-items: center;
}
