@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.input {
    background: #323232;
    border: none;
    padding: 10px 20px;
    width: 250px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    font-family: 'Nunito', sans-serif;
}
