@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.text {
    font-family: 'Nunito', sans-serif;
}

.button {
    background: #0077ff;
    padding: 10px 20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 7px 80px rgba(0, 119, 255, 0.88));
}
.button:hover {
    background: #014a9c;
}
.arrow {
    margin-left: 10px;
}